.arrows {
  margin: 1rem auto 3rem;
  width: fit-content;
  display: flex;
}

.left-arrow,
.right-arrow {
  margin: 0 1rem 1rem;
  width: fit-content;
  font-size: 2rem;
  text-align: center;

  background: none;
  border: none;
  cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
  color: grey;
  cursor: pointer;
}

/* Style for buttons in comparaison file */
  .button-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .filter-button {
    font-family: "PT Serif", serif;
    background-color: #114388;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; /* Adjust margin between buttons */
  }

  .filter-button:hover{
    background-color: #3a69b7;
  }

  /* Style for ID_DECLARATION anchor tag */
  .declar {
    text-decoration: none;
    color: #114388;
    font-weight: 700;
  }

  .declar:hover{
    text-decoration: underline;
  }

  /* Style for button in /info route */
.retour-button {
  background-color: #114388;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 3.5rem;
  border-radius: 0.3rem;
}

.retour-button:hover{
  background-color: #3a69b7;
}

/* Login page styling */
.flash-message{
  text-align: center;
  color: red;
  margin-top: 1.5rem;
}

.container-login {
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.login-form input[type="submit"] {
  padding: 10px;
  background-color: #114388;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-form input[type="submit"]:hover {
  background-color: #3a69b7;
}