{% include 'header.html' %}

<h1 class="setcion-title">Ecart entre déduction facturée et déduction déclarée</h1>

<div class="container-ecart-table">
    {% if all_data|length != 0 %}
    <table class="fl-table">
      <thead>
        <tr>
          <th>ID Déclaration</th>
          <th>Num facture</th>
          <th>Déduction facturée</th>
          <th>Déduction déclarée</th>
          <th>Ecart</th>
        </tr>
      </thead>
      <tbody>
        {% for data in all_data %}
        <tr class="activite-row">
          <td>{{ data[0] }}</td>
          <td>{{ data[1] }}</td>
          <td>{{ data[2] }}</td>
          <td>{{ data[3] }}</td>
          <td>{{ data[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <div class="arrows">
    <button class="left-arrow">⬅</button>
    <button class="right-arrow">➡</button>
  </div>

  <script src="static/activites.js"></script>
  