{% include 'header.html' %}
    <h1 class="setcion-title">
      Ecart entre déduction facturée et déduction déclarée
    </h1>
    <div class="container-ecart">
      <form action="{{ url_for('ecart') }}" method="post" class="ecart-form">
        <label class="annee-label">Année: </label>
        <input type="number" name="annee" required />
        <label class="annee-label">Période de dépôt: </label><br />
        <label class="limit-label">de:</label
        ><input
          type="date"
          name="fromDate"
          class="limit-input"
          required
        /><br />
        <label class="limit-label">à:</label
        ><input type="date" name="toDate" class="limit-input" required />
        <input type="submit" value="Chercher" />
      </form>
    </div>
  </body>
</html>
